body {
    font-family: 'Playfair Display', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    font-weight: bold;
    color: #333;
}

.table {
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table th {
    background-color: #000;
    color: #fff;
}

.table td {
    background-color: #f4f4f4;
    padding: 10px;
}

.table .btn {
    font-size: 0.875rem;
}

p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

/* ini style baru */

/* Gaya umum untuk body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #0b6623; /* Hijau Gucci */
    padding: 20px;
    margin: 0;
}

/* Container utama */
.container {
    background-color: #ffffff; /* Putih untuk kontras */
    padding: 30px;
    border: 2px solid #0b6623; /* Hijau Gucci */
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Judul Form */
h1, label {
    color: #000000; /* Hitam Gucci */
    font-weight: bold;
}

/* Form Styling */
.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #0b6623; /* Hijau Gucci */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #0b6623; /* Hijau Gucci */
}

input[type="text"]:focus {
    outline: none;
    border-color: #FF0000; /* Merah Gucci */
}

/* Button Styles */
.btn-primary {
    background-color: #FF0000; /* Merah Gucci */
    border: none;
    color: #FFFFFF; /* Putih */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #D4AF37; /* Emas Gucci */
}

.btn-secondary {
    background-color: #0b6623; /* Hijau Gucci */
    border: none;
    color: #FFFFFF; /* Putih */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #D4AF37; /* Emas Gucci */
}

/* Styling untuk link */
a {
    text-decoration: none;
    color: #FF0000; /* Merah Gucci */
}

a:hover {
    color: #D4AF37; /* Emas Gucci */
}

/* Custom Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    color: #000000; /* Hitam Gucci */
    font-size: 14px;
}

.alert.hide {
    opacity: 0;
    transition: opacity 1s ease-out;
}


